@columnCount: 4;
@footerHeight: 50px;
@contentBottomGap: 20px;
@slideWidth: 60vw;
@nextBtnArea: 50%;
@closeBtnSize: 3vw;

article {
  .column {
    padding-left: 5px;
    display: inline-block;
    float: left;
    width: ~"calc(100%/@{columnCount} - 5px)";
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  &:after{
    display: block;
    width: 10px;
    height: @footerHeight + @contentBottomGap - 5px;
    content: '';
  }
}

.slider{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;

  .slide{
    display: block;
    position: fixed;
    width: @slideWidth;
    height: 100vh;
    margin-left: (100vw - @slideWidth)/2;
    background: center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}

.navigation {
  width: 100%;
  height: 100%;

  .prevBtn, .nextBtn{
    opacity: 0.1;
    transition: 0.1s linear;
  }

  .prevBtn{
    text-align: left;
  }

  .nextBtn{
    width: @nextBtnArea;
    text-align: right;
  }

  img{
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
}

.prevBtn:hover, .nextBtn:hover{
  opacity: 1;
}

.close{
  display: block;
  position: fixed;
  height: @closeBtnSize;
  width: @closeBtnSize;
  background: url(/img/close_x100.png) center no-repeat;
  background-size: contain;
  top: 10px;
  z-index: 4;
  opacity: 0.99999999999999;
  right: 10px;
  cursor: pointer;
}