@nextBtnArea: 50%;

.slider{
  width: 100%;
  height: 100%;
}

.slide{
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.navigation {
  width: 100%;
  height: 100%;

  .prevBtn, .nextBtn{
    opacity: 0.1;
    transition: 0.1s linear;
  }

  .prevBtn{
    text-align: left;
  }

  .nextBtn{
    width: @nextBtnArea;
    text-align: right;
  }

  img{
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
}

.prevBtn:hover, .nextBtn:hover{
  opacity: 1;
}