* {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  z-index: 0;
}
header,
.content,
footer {
  width: 80vw;
  margin-left: 10vw;
}
header {
  background-color: white;
  position: fixed;
  height: 70px;
  border-bottom: 2px solid #0a6b6b;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0.99999999999999;
}
header .logo {
  display: inline-block;
  background: url(../img/logo.png) center no-repeat;
  height: 70px;
  width: 250px;
  background-size: contain;
}
header:after {
  display: block;
  width: 80vw;
  height: 20px;
  margin-top: -5px;
  background: white;
  content: '';
}
.content {
  height: calc(100vh - 70px - 50px - 20px - 20px);
  padding-top: 90px;
  margin-bottom: 20px;
}
.content .menu {
  position: fixed;
  width: 100px;
  height: 100%;
  float: left;
}
.content .menu .menuItem {
  display: inline-block;
  text-decoration: none;
  color: #0a6b6b;
  padding: 2px 2px;
}
.content .menu .active {
  background-color: #0a6b6b;
  color: white;
}
.content article {
  display: inline-block;
  width: calc(100% - 100px * 2);
  height: 100%;
  margin-left: 100px;
}
footer {
  background: white;
  position: fixed;
  height: 70px;
  margin-top: -20px;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0.99999999999999;
}
footer .copyright {
  float: left;
  display: block;
  text-decoration: none;
  color: #0a6b6b;
  padding-top: 13px;
  font-size: 16px;
}
footer .socialButtons {
  float: right;
  padding-top: 10px;
}
footer .socialButtons .socialIcon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}
footer .socialButtons .vk {
  background: url(/img/social/vk.png);
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}
footer .socialButtons .twitter {
  background: url(/img/social/twitter.png);
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}
footer .socialButtons .instagram {
  background: url(/img/social/instagram.png);
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}
footer:before {
  display: block;
  width: 80vw;
  height: 20px;
  background: white;
  border-bottom: 2px solid #0a6b6b;
  content: '';
}
.clearFloat {
  clear: both;
}
